@defer (when news().data.content.length > 0; prefetch on immediate) {
    <div class="wrapper" id="scroll_to_news" [attr.data-date]="formatDate(news().date)">
        <div class="content">
            <h1 class="news-title">{{ newsTitle() === null ? formatTitleDate(news().date) : newsTitle() }}</h1>
            @for (element of news().data.content; track $index) {
                @if (element.type === "title") {
                    <app-custom-title [content]="element.content"></app-custom-title>
                } @else if (element.type === "subtitle") {
                    <app-custom-subtitle [content]="element.content"></app-custom-subtitle>
                } @else if (element.type === "paragraph") {
                    <app-custom-paragraph [content]="element.content"></app-custom-paragraph>
                } @else if (element.type === "image") {
                    <app-custom-image [imageUrl]="element.imageUrl" [imageAlt]="element.imageAlt"></app-custom-image>
                } @else if (element.type === "multipleImages") {
                    <app-custom-image-carousel [images]="element.images"></app-custom-image-carousel>
                } @else if (element.type === "imageWithText") {
                    <app-custom-image-with-text [imageUrl]="element.imageUrl" [imageAlt]="element.imageAlt" [content]="element.content" [sideOfImage]="element.sideOfImage"></app-custom-image-with-text>
                } @else if (element.type === "line") {
                    <app-custom-line></app-custom-line>
                } @else if (element.type === "currentTeam") {
                    <app-team-from-id [id]="element.teamId"></app-team-from-id>
                }
            }
        </div>
        @if (news().data.type === "image" && news().data.imageUrl && news().data.imageAlt) {
            <img class="news-img {{ news().data.imagePosition === 'left' ? 'left' : news().data.imagePosition === 'center' ? 'center' : 'right' }}" [src]="news().data.imageUrl" [alt]="news().data.imageAlt" />
        } @else if (news().data.type === "pdf" && news().data.pdfUrl) {
            <iframe class="news-iframe" [src]="pdfUrl()" title="{{ news().data.pdfUrl }}"></iframe>
        }
    </div>
} @placeholder (minimum 100ms) {
    <app-loading></app-loading>
}
