<div class="wrapper {{ banners().length > 0 ? 'shown' : 'hidden' }} {{ banners().length > 1 ? 'multiple' : 'solo' }} {{ open() ? 'open' : 'closed' }}">
    @if (banners().length > 1) {
        <div class="topbar">
            <div class="fill" [style.transform]="'scaleX(' + topbarTimer() / topbarTimerInterval + ')'"></div>
        </div>
    }
    <div class="slider" [style.--current-index]="currentIndex()" [style.--banner-count]="banners().length">
        @for (banner of banners(); track $index) {
            <div class="banner" [attr.data-index]="$index">
                <h2>{{ banner.title }}</h2>
                <p [innerHTML]="markdownToHtml(banner.description)"></p>
                <div class="progress" [style.background]="generateGradient(banner.currentValue, banner.maxValue)">
                    <p>{{ formatNumber(banner.currentValue) }}chf / {{ formatNumber(banner.maxValue) }}chf</p>
                </div>
                <a [routerLink]="'/donate'">Jetzt Mithelfen</a>
            </div>
        }
    </div>
    <button type="button" class="previous" (click)="previous()">
        <img src="/svg/arrow_down.svg" alt="Pfeil" />
    </button>
    <button type="button" class="next" (click)="next()">
        <img src="/svg/arrow_down.svg" alt="Pfeil" />
    </button>
    <button type="button" class="close" (click)="toggleBanner()">
        <img src="/svg/arrow_down.svg" alt="Pfeil" />
    </button>
</div>
