@use "../../../styles/index" as *;

.wrapper {
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--background-200);
    font-size: 1.2em;
    /* height: calc(var(--header-height) * 2); */
    top: var(--header-height);
    position: fixed;
    width: 100%;
    z-index: 10;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);

    &.hidden {
        display: none !important;
    }

    &.shown {
        display: block;
    }

    &.open {
        transform: translateY(0%);
    }

    &.closed {
        transform: translateY(-100%);

        & button > img {
            rotate: 0deg;
        }
    }
}

.banner {
    width: 100%;
    height: 100%;
}

a {
    @include primary-button($margin: 10px auto 0 auto);
    justify-content: center;
    width: 50%;

    @media screen and (max-width: 800px) {
        width: fit-content;
    }
}

h2 {
    margin: calc(var(--header-height) / 10) 0;
    font-size: 1.5em;
    transition: all 0.3s ease-in-out;
}

p {
    margin: 0;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

.progress {
    padding: calc(var(--header-height) / 10) 0;
    background: linear-gradient(to right, var(--primary-500) 0%, var(--primary-500) 0%, transparent 60%, transparent 100%);
    transition: all 0.3s ease-in-out;

    & > p {
        margin: 0;
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 0;
        transition: all 0.3s ease-in-out;
    }
}

button {
    position: absolute;
    top: 100%;
    right: 75px;
    cursor: pointer;
    background-color: var(--background-200);
    outline: none;
    border: none;
    border-radius: 0 0 10px 10px;
    height: 30px;
    width: 75px;
    padding: 0;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);

    & > img {
        width: 100%;
        height: 100%;
        transition: all 0.3s ease-in-out;
        object-fit: contain;
        rotate: 180deg;
    }
}
