.wrapper {
    display: grid;
    grid-template-columns: min(200px, 30%) 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

nav {
    padding: 0.5rem;
    box-shadow: 1px 0px 1px 0 rgba(0, 0, 0, 0.1);
}

section > * {
    display: block;
    width: 100%;
    height: 100%;
}
