**/node_modules
*.env
.env
**/*.env
.git/
.hintrc
.env
_old/
README.docx
backend/backup/
cert/
_Beiträge/
.vscode/
static/vid/
route.zmt.js
_important/
node_modules/
plainToHash.js
_Tutorials/
Redesign spenden.txt
*.env
Text formatieren ZMT.docx
LICENSE
README.md
HTML Einführung.docx
_files/
Redesign Blogstorage.txt
pureHtmlToBlogJson.js
todo.txt