@use "../../../styles/index" as *;

.wrapper {
    margin: var(--basic-margin);
    background-color: var(--background-100);
    padding: 2vh 1vw;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    & h2 {
        font-size: 3.75em;
        text-align: center;
        margin: 0;
        padding: 0 5vw;
        text-decoration: underline;
    }

    & > p {
        margin: 0;
        padding: 1rem;
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        font-size: 1.25rem;
        text-wrap: balance;

        &.current-stage-counter {
            padding: 0 1vh 0 0;
            margin-top: 0.5rem;
            text-align: end;
            font-size: 1.2rem;
        }

        & span {
            font-size: 1rem;
            text-wrap: balance;
        }
    }

    & > .center {
        flex: 1;
        max-width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;

        & > img {
            filter: invert(1) invert(92%) sepia(6%) saturate(2857%) hue-rotate(312deg) brightness(113%) contrast(101%); /* White to --background-100 */
            width: 100%;
            max-height: calc(402px + 2rem); /* Picture is 402px wide */
            max-width: calc(402px + 2rem);
            object-fit: contain;
            padding: 1rem;
            box-sizing: border-box;
        }

        & > p {
            width: 100%;
            max-width: calc(402px + 2rem);
            padding: 0 1rem;
            box-sizing: border-box;
            margin: 0;
            text-align: center;
        }
    }

    & .buttons-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 1.5rem;

        & > button {
            @include primary-button;
            margin: 1rem 0.5rem 0.5rem 0.5rem;
            font-size: 30px;
            height: 50px;
            padding: 0 1rem;
        }
    }
}