@use "../../styles/index" as *;

.wrapper {
    @include auth-wrapper;
}

form {
    @include auth-form;
}

app-auth-input {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

p {
    color: var(--c-text-950);
}

button {
    @include form-submit-button;
}

.toggler {
    @include auth-toggler;
}
