<div class="wrapper">
    <h2>Teammitglied entfernen</h2>

    <p>Gib eine E-Mail-Adresse ein, um ein Mitglied aus dem Team zu entfernen.</p>

    <button type="button" (click)="openSelection()">Entfernen</button>
</div>

@if (selectionOpen()) {
    <app-popup-selection-input
        title="Teammitglied entfernen"
        description="Gib eine E-Mail-Adresse ein, um ein Teammitglied zu entfernen. Diese Person muss schon im Team sein."
        label="E-Mail"
        placeholder="E-Mail-Adresse eingeben"
        submitButtonText="Entfernen"
        [selectionOptions]="userEmailList()"
        (closeOutput)="closeSelection()"
        (resultOutput)="removeTeamMember($event)"
    ></app-popup-selection-input>
}
