.wrapper {
    display: grid;
    gap: 5%;
    grid-template-columns: 47.5% 47.5%;
    grid-template-rows: 1fr;
    margin: 2.5vh 5%;
    place-items: center;
    width: 90%;
}

img {
    width: 100%;
}

p {
    margin: 0;
    padding: 0;
    width: 100%;
}

@media screen and (max-width: 749px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 2.5vh;
        margin: 2.5vh 10%;
        width: 80%;
    }
}
