@use "../../../../styles/index" as *;

.table-wrapper {
    @include default-table;
}

p.error {
    font-size: 1.2em;
    text-align: center;
}

button.error {
    @include form-submit-button;
    margin: 20px 5% 10px 5%;
    width: 90%;
}
