<app-hero [title]="site().metadata.title" [pictureUrl]="site().metadata.imageUrl" [pictureAlt]="site().metadata.imageAlt" [subtitle]="site().metadata.subtitle"></app-hero>
@for (element of site().data; track $index) {
    @if (element.type === "title") {
        <app-custom-title [content]="element.content"></app-custom-title>
    } @else if (element.type === "subtitle") {
        <app-custom-subtitle [content]="element.content"></app-custom-subtitle>
    } @else if (element.type === "paragraph") {
        <app-custom-paragraph [content]="element.content"></app-custom-paragraph>
    } @else if (element.type === "image") {
        <app-custom-image [imageUrl]="element.imageUrl" [imageAlt]="element.imageAlt"></app-custom-image>
    } @else if (element.type === "multipleImages") {
        <app-custom-image-carousel [images]="element.images"></app-custom-image-carousel>
    } @else if (element.type === "imageWithText") {
        <app-custom-image-with-text [imageUrl]="element.imageUrl" [imageAlt]="element.imageAlt" [content]="element.content" [sideOfImage]="element.sideOfImage"></app-custom-image-with-text>
    } @else if (element.type === "line") {
        <app-custom-line></app-custom-line>
    } @else if (element.type === "currentTeam") {
        <app-current-team></app-current-team>
    }
}
