@use "../../styles/index" as *;

div {
    background-color: var(--c-text-950);
    background-image: url(../../../public/backup/lost.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: calc(100vh - var(--header-height));

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;

    padding: var(--basic-margin);
    box-sizing: border-box;
}

h1,
p {
    font-size: 1.2rem;
    text-align: center;
    color: var(--c-text-50);
    margin: 0;
    background-color: #000a;
    box-shadow: 0 0 5px 5px #000a;
}

h1 {
    font-size: 5rem;
}

a {
    color: var(--c-primary-500);
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 3.5rem;
    }

    p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 250px) {
    h1 {
        font-size: 2.5rem;
    }

    h1,
    p {
        word-wrap: break-word;
    }
}
