<div class="popup" (click)="close()">
    <form class="wrapper" (submit)="onSubmit($event)" (click)="$event.stopPropagation()">
        <h2>{{ title() }}</h2>
        <p>{{ description() }}</p>
        <label for="image" class="text-label">{{ label() }}</label>
        <input type="file" accept="image/*" id="image" (change)="onChange($event)" />
        <label for="image" class="image-label">
            <img [src]="image().url" alt="Vorschau des Bildes" />
        </label>
        <button type="submit" class="submit" [disabled]="submitButtonDisabled()">{{ submitButtonText() }}</button>
        <button type="button" class="close" (click)="close()">
            <img src="/svg/close.svg" alt="Popup schließen" />
        </button>
    </form>
</div>
