:root[data-style-namespace="contact"] {
    & main {
        background-color: transparent;
    }

    & header {
        & .top {
            --secondary-500: var(--accent-500);
            --secondary-400: var(--accent-600);
            --text-50: var(--c-text-950);
        }
    }

    &[data-theme="dark"] {
        & header {
            & .top {
                --secondary-500: var(--violett);
                --secondary-400: #4a2984;
            }
        }

        & app-contact form button {
            --secondary-500: var(--violett);
            --secondary-400: #4a2984;
        }

        *::selection,
        *::marker {
            background-color: #673ab7cc;
        }
    }

    *::selection,
    *::marker {
        background-color: #4ab5a3cc;
    }
}
