<div class="wrapper">
    <form (submit)="recover($event)">
        <h1>Passwort zurücksetzten</h1>
        <p>
            Um dein Passwort zurückzusetzen müssen wir zuerst einen Sicherheitscheck machen. Dazu haben wir dir per E-Mail einen Bestätigungscode geschickt. Bitte gib diesen im Textfeld unten ein um deine Anfrage abzuschliessen. Danach können wir dir
            dein neues Passwort setzen und per E-Mail zukommen lassen. Aus Sicherheitsgründen empfehlen wir dir, das generierte Passwort so schnell wie möglich unter "Mein Account" zu ändern.
        </p>
        <p>E-Mail: {{ email() }}</p>
        <app-auth-input [type]="'text'" [label]="'Bestätigungscode'" [placeholder]="'Code eingeben'" [required]="true" [iconSource]="'/svg/text.svg'" [iconAlt]="'Buchstaben und Zahlen'" (valueOutput)="updateCodeInput($event)"></app-auth-input>
        <button type="submit">{{ submitButtonText() }}</button>
        <div class="toggler">
            <p>Noch keine Zugangsdaten?</p>
            <a [routerLink]="'/signup'">Account erstellen</a>
        </div>
    </form>
</div>
