<div class="wrapper">
    <form (submit)="recover($event)">
        <h1>Passwort zurücksetzten</h1>
        <p>
            Wenn du dein Passwort vergessen hast, kannst du dir ein neues schicken lassen. Beachte jedoch, dass du dich danach nicht mehr mit dem alten Passwort einloggen kannst. Es wird ebenfalls empfohlen, das generierte Passwort so schnell wie
            möglich unter "Mein Konto" zu ändern.
        </p>
        <p>E-Mail: {{ email() }}</p>
        <app-auth-input [type]="'text'" [label]="'Bestätigungscode'" [placeholder]="'Code eingeben'" [required]="true" [iconSource]="'/svg/text.svg'" [iconAlt]="'Buchstaben und Zahlen'" (valueOutput)="updateCodeInput($event)"></app-auth-input>
        <button type="submit">{{ submitButtonText() }}</button>
        <div class="toggler">
            <p>Noch keine Zugangsdaten?</p>
            <a [routerLink]="'/signup'">Account erstellen</a>
        </div>
    </form>
</div>
