<div class="popup" (click)="close()">
    <form class="wrapper" [formGroup]="addTextForm" (submit)="onSubmit($event)" (click)="$event.stopPropagation()">
        <h2>{{ title() }}</h2>
        <p>{{ description() }}</p>
        <label for="text">{{ label() }}</label>
        <textarea id="text" [placeholder]="placeholder()" formControlName="textControl"></textarea>
        <button type="submit" class="submit" [disabled]="submitButtonDisabled()">{{ submitButtonText() }}</button>
        <button type="button" class="close" (click)="close()">
            <img src="/svg/close.svg" alt="Popup schließen" />
        </button>
    </form>
</div>
