<div class="wrapper">
    <h2>Teammitglied hinzufügen</h2>

    <p>
        Gib eine E-Mail-Adresse ein um ein neues Teammitglied hinzuzufügen. Ausserdem musst du den Job und einen Leitsatz des neuen Teammitglieds angeben.
        <br />
        Beachte bitte, dass du diese Angaben nicht bearbeiten kannst. Wenn du dich vertippt hast, musst du das Teammitglied entfernen und erneut hinzufügen.
    </p>

    <button type="button" (click)="openSelection()">Hinzufügen</button>
</div>

@if (selectionOpen()) {
    <app-popup-selection-input
        title="Teammitglied hinzufügen"
        description='Gib eine E-Mail-Adresse ein, um ein neues Teammitglied hinzuzufügen. Die Person braucht dafür einen Account (Wenn die Person noch keinen Account hat, kannst du auch einen unter "Verwaltung" » "Account erstellen" anlegen).'
        label="E-Mail"
        placeholder="E-Mail-Adresse eingeben"
        submitButtonText="Hinzufügen"
        [selectionOptions]="userEmailList().filter((email) => !alreadyInTeamEmailList().includes(email))"
        (closeOutput)="closeSelection()"
        (resultOutput)="addTeamMember($event)"
    ></app-popup-selection-input>
}
