<form [formGroup]="addTeamMemberForm" (submit)="onSubmit($event)">
    <h2>Teammitglied hinzufügen</h2>

    <p>
        Gib eine E-Mail-Adresse ein um ein neues Teammitglied hinzuzufügen. Ausserdem musst du den Job und einen Leitsatz des neuen Teammitglieds angeben.
        <br>
        Beachte bitte, dass du diese Angaben nicht bearbeiten kannst. Wenn du dich vertippt hast, musst du das Teammitglied entfernen und erneut hinzufügen.
    </p>

    <label for="email">E-Mail</label>
    <input type="email" id="email" placeholder="E-Mail-Adresse eingeben" required formControlName="emailControl" />
    
    <label for="job">Job</label>
    <input type="text" id="job" placeholder="Job eingeben" required formControlName="jobControl" />
    
    <label for="motto">Leitsatz / Motto</label>
    <input type="text" id="motto" placeholder="Leitsatz eingeben" required formControlName="mottoControl" />

    <button type="submit" [disabled]="submitButtonDisabled()">{{ submitButtonText() }}</button>
</form>
