<p class="text">
    Hier finden Sie eine Liste der Quellen für die Bilder, welche wir von Unsplash bezogen haben. Sie befinden sich alle im Ordner {{ origin() }}/stock/<br /><br />
    <a href="/stock/erfolgsrechnung.jpg" target="_blank" rel="noopener">erfolgsrechnung.jpg</a>: Foto von
    <a target="_blank" rel="noopener" href="https://unsplash.com/de/@homajob?utm_content=creditCopyText&amp;utm_medium=referral&amp;utm_source=unsplash">Scott Graham</a> auf
    <a target="_blank" rel="noopener" href="https://unsplash.com/de/fotos/mann-der-auf-papier-schreibt-OQMZwNd3ThU?utm_content=creditCopyText&amp;utm_medium=referral&amp;utm_source=unsplash">Unsplash</a><br /><br />
    <a href="/stock/nightsky.jpg" target="_blank" rel="noopener">nightsky.jpg</a>: Foto von
    <a target="_blank" rel="noopener" href="https://unsplash.com/de/@kaushikpanchal?utm_content=creditCopyText&amp;utm_medium=referral&amp;utm_source=unsplash">Kaushik Panchal</a> auf
    <a target="_blank" rel="noopener" href="https://unsplash.com/de/fotos/weisse-wolken-tagsuber-0juC5JIhPks?utm_content=creditCopyText&amp;utm_medium=referral&amp;utm_source=unsplash">Unsplash</a><br /><br />
    <a href="/stock/sky.jpg" target="_blank" rel="noopener">sky.jpg</a>: Foto von
    <a target="_blank" rel="noopener" href="https://unsplash.com/de/@felix_mittermeier?utm_content=creditCopyText&amp;utm_medium=referral&amp;utm_source=unsplash">Felix Mittermeier</a> auf
    <a target="_blank" rel="noopener" href="https://unsplash.com/de/fotos/blitzeinschlag-unter-bewolktem-himmel-WLGHjbC0Cq4?utm_content=creditCopyText&amp;utm_medium=referral&amp;utm_source=unsplash">Unsplash</a><br /><br />
    <a href="/stock/jungle.jpg" target="_blank" rel="noopener">jungle.jpg</a>: Foto von
    <a target="_blank" rel="noopener" href="https://unsplash.com/@chrisabney?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Chris Abney</a> auf
    <a target="_blank" rel="noopener" href="https://unsplash.com/photos/area-covered-with-green-leafed-plants-qLW70Aoo8BE?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a><br><br>
    <a href="/stock/butterflies.jpg" target="_blank" rel="noopener">butterflies.jpg</a>: Foto von <a href="https://www.timondev.com" target="_blank" rel="noopener">Timon Fiedler</a> aus eigener Aufnahme<br /><br />
    <br />Die folgenden Bilder wurden ebenfalls von Unsplash bezogen, sind jedoch in einem anderen Ordner:<br /><br />
    <a href="/backup/blog-backup-image-1.jpg" target="_blank" rel="noopener">blog-backup-image-1.jpg</a>: Foto von
    <a target="_blank" rel="noopener" href="https://unsplash.com/de/@heytowner?utm_content=creditCopyText&amp;utm_medium=referral&amp;utm_source=unsplash">JOHN TOWNER</a> auf
    <a target="_blank" rel="noopener" href="https://unsplash.com/de/fotos/luftaufnahme-von-brown-mountains-JgOeRuGD_Y4?utm_content=creditCopyText&amp;utm_medium=referral&amp;utm_source=unsplash">Unsplash</a><br /><br />
    <a href="/backup/blog-backup-image-2.jpg" target="_blank" rel="noopener">blog-backup-image-2.jpg</a>: Foto von
    <a target="_blank" rel="noopener" href="https://unsplash.com/de/@brisch27?utm_content=creditCopyText&amp;utm_medium=referral&amp;utm_source=unsplash">Brigitta Schneiter</a> auf
    <a target="_blank" rel="noopener" href="https://unsplash.com/de/fotos/berg-in-der-nahe-eines-gewassers-foto-hXXRLtTxXCU?utm_content=creditCopyText&amp;utm_medium=referral&amp;utm_source=unsplash">Unsplash</a><br /><br />
    <a href="/backup/blog-backup-image-3.jpg" target="_blank" rel="noopener">blog-backup-image-3.jpg</a>: Foto von
    <a target="_blank" rel="noopener" href="https://unsplash.com/de/@mischievous_penguins?utm_content=creditCopyText&amp;utm_medium=referral&amp;utm_source=unsplash">Casey Horner</a> auf
    <a target="_blank" rel="noopener" href="https://unsplash.com/de/fotos/schneebedeckter-berg-bei-dammerung-O0R5XZfKUGQ?utm_content=creditCopyText&amp;utm_medium=referral&amp;utm_source=unsplash">Unsplash</a><br /><br />
    <a href="/backup/blog-backup-image-4.jpg" target="_blank" rel="noopener">blog-backup-image-4.jpg</a>: Foto von
    <a target="_blank" rel="noopener" href="https://unsplash.com/de/@john_artifexfilm?utm_content=creditCopyText&amp;utm_medium=referral&amp;utm_source=unsplash">John Lee</a> auf
    <a target="_blank" rel="noopener" href="https://unsplash.com/de/fotos/landschaft-der-berge-oMneOBYhJxY?utm_content=creditCopyText&amp;utm_medium=referral&amp;utm_source=unsplash">Unsplash</a><br /><br />
    <a href="/backup/lost.jpg" target="_blank" rel="noopener">lost.jpg</a>: Foto von 
    <a target="_blank" rel="noopener" href="https://unsplash.com/de/@nasa?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">NASA</a> auf
    <a target="_blank" rel="noopener" href="https://unsplash.com/de/fotos/astronaut-im-raumanzug-schwebt-im-weltraum-Yj1M5riCKk4?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a><br /><br />
    <br>Alle SVG Icons stammen von <a target="_blank" rel="noopener" href="https://ionic.io/ionicons">Ionic</a>.<br><br>
    <br>Alle Benachrichtigung's SVG sind von <a target="_blank" rel="noopener" href="https://shoelace.style/">Shoelace</a> und befinden sich im Ordner /svg/notification/.<br><br>
    <br>Alle Profil Banner SVG (/svg/profile-banner-x.svg für x = 1 bis 10) wurden generiert mit <a target="_blank" rel="noopener" href="https://app.haikei.app/">Haikei</a>.<br><br>
    <br>Alle weiteren Bilder welche auf der Webseite verwendet werden stammen entweder aus eigener Aufnahme, wurden selbst erstellt oder sind von Benutzern hochgeladen worden. Falls Sie ein Bild auf unserer Webseite sehen, welches Sie erstellt haben und nicht möchten, dass es auf unserer Webseite verwendet wird, kontaktieren Sie uns bitte über das <a href="/contact">Kontaktformular</a> und wir werden das Bild umgehend entfernen.<br><br>
</p>
<p class="date">Zuletzt aktualisiert: {{ date() }}</p>
