@use "../../../../styles/index" as *;

form {
    padding: 2vh 5vw;
    box-sizing: border-box;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
    padding: 0 10vw;
}

p {
    font-size: medium;
    margin: 1vh 5%;
    padding: 0;
    width: 90%;
    text-align: left;
    text-wrap: pretty;
}

label {
    @include admin-label;
}

button {
    @include primary-button;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
}
