<form [formGroup]="editProfileForm" (submit)="onSubmit($event)">
    <h2>Erweiterte Informationen bearbeiten</h2>
    <app-edit-account-input
        [type]="'text'"
        [label]="'Beruf'"
        [placeholder]="expandedUser().profession"
        [autocomplete]="'off'"
        [iconSource]="'/svg/text.svg'"
        [iconAlt]="'Buchstaben'"
        (valueOutput)="updateProfessionInput($event)"
    ></app-edit-account-input>
    <app-edit-account-input
        [type]="'text'"
        [label]="'Motivation'"
        [placeholder]="expandedUser().motive"
        [autocomplete]="'off'"
        [iconSource]="'/svg/text.svg'"
        [iconAlt]="'Buchstaben'"
        (valueOutput)="updateMotiveInput($event)"
    ></app-edit-account-input>


    <!-- Add in the future:
            - Secondary Profile Picture
            - Role in Team (but i need to be carful since the users role is then set for all teams he is in, not just the latest one)
    -->


    <button type="submit" [disabled]="submitButtonDisabled()">{{ submitButtonText() }}</button>
</form>
