<div class="wrapper">
    @for (member of unverifiedMembers(); track $index) {
        @if ($first) {
            <h2>Unverifizierte Mitglieder</h2>
        }
        <app-unverified-legacy-member-approval [member]="member" (update)="getUnverifiedMembers()"></app-unverified-legacy-member-approval>
    }

    <h2>Mitglied manuell hinzufügen</h2>
    <p>
        Gib eine E-Mail-Adresse ein, um ein neues Mitglied manuell hinzuzufügen. Die Person braucht dafür einen Account (Wenn die Person noch keinen Account hat, kannst du auch einen unter "Verwaltung" » "Account erstellen" anlegen). Das Mitglied
        wird dann auf allen Listen angezeigt.
    </p>
    <button type="button" (click)="openSelection()">Mitglied hinzufügen</button>
</div>

@if (selectionOpen()) {
    <app-popup-selection-input
        title="Mitglied hinzufügen"
        description='Gib eine E-Mail-Adresse ein, um ein neues Mitglied manuell hinzuzufügen. Die Person braucht dafür einen Account (Wenn die Person noch keinen Account hat, kannst du auch einen unter "Verwaltung" » "Account erstellen" anlegen). Das Mitglied wird dann auf allen Listen angezeigt.'
        label="E-Mail"
        placeholder="E-Mail-Adresse eingeben"
        submitButtonText="Hinzufügen"
        [selectionOptions]="userEmailList()"
        (closeOutput)="closeSelection()"
        (resultOutput)="addLegacyMember($event)"
    ></app-popup-selection-input>
}
