<nav>
    <div class="wrapper">
        <ul class="list">
            <li class="floating-nav-elements">
                <app-nav-element
                    [description]="'Verein'"
                    [linkArray]="[
                        { href: '/vision', label: 'Vision' },
                        { href: '/executives', label: 'Vorstand' },
                        { href: '/beginning', label: 'Wie alles begann...' },
                        { href: '/finances', label: 'Finanzierung' },
                        { href: '/income-statement', label: 'Erfolgsrechung' },
                        { href: '/general-meeting', label: 'Generalversammlung' },
                        { href: '/statutes', label: 'Statuten' },
                    ]"
                ></app-nav-element>
            </li>
            <li class="floating-nav-elements">
                <app-nav-element
                    [description]="'Projekte'"
                    [withPicture]="true"
                    [linkArray]="[
                        { href: '/zurich-meets-tanzania', label: 'zurich meets tanzania' },
                        { href: '/tanzania-meets-zurich', label: 'tanzania meets zurich' },
                        { href: '/mbuzi', label: 'Mbuzi' },
                        { href: '/gynecology', label: 'twenty4forty' },
                        { href: '/meducation', label: 'Meducation' },
                        { href: '/bajaji', label: 'Bajaji' },
                        { href: '/cardiology', label: 'Kardiologie' },
                        { href: '/surgery', label: 'Chirurgie' },
                    ]"
                    [pictureArray]="[
                        { src: '/logo.svg', alt: 'Zurich meets Tanzania Logo' },
                        { src: '/logo.svg', alt: 'Tanzania meets Zurich Logo' },
                        { src: '/common/mbuzi.jpg', alt: 'Mbuzi Logo' },
                        { src: '/common/twenty4forty.jpg', alt: 'Twenty for Forty Logo' },
                        { src: '/common/meducation.jpg', alt: 'Meducation Logo' },
                        { src: '/common/bajaji/bajaji.min.jpg', alt: 'Bajaji Bild' },
                        { src: '/logo.svg', alt: 'Zurich meets Tanzania Logo' },
                        { src: '/logo.svg', alt: 'Zurich meets Tanzania Logo' },
                    ]"
                ></app-nav-element>
            </li>
            <li class="floating-nav-elements">
                <app-nav-element [description]="'Blogs'" [linkArray]="blogLinks()"></app-nav-element>
            </li>
            <li class="floating-nav-elements">
                <app-nav-element [description]="'Bilder'" [linkArray]="galleryLinks()"></app-nav-element>
            </li>
            <li class="floating-nav-elements">
                <app-nav-element
                    [description]="'Weiteres'"
                    [linkArray]="[
                        isLoggedIn() ? { href: '/account', label: 'Mein Konto' } : { href: '/login', label: 'Einloggen' },
                        isLoggedIn() ? { href: '', label: 'Ausloggen', onClick: logOut.bind(this), clickable: true } : { href: '/signup', label: 'Registrieren' },
                        { href: '/current-team', label: 'Aktuelles Team' },
                        { href: '/archive', label: 'Archiv' },
                        { href: '/history-tanzania', label: 'Factsheet Tanzania' },
                        { href: '/contact', label: 'Kontakt' },
                        { href: UNIKAT_URL, label: 'Shop', external: true },
                    ]"
                ></app-nav-element>
            </li>
        </ul>
        <div class="extra-buttons">
            <a class="header-link" [routerLink]="becomeMemberUrl()">Mitglied werden</a>
            <a class="header-link" [routerLink]="'/donate'">Spenden</a>
            <a class="header-link" [href]="UNIKAT_URL" target="_blank" rel="roopener">Shop</a>
            <div class="buttons">
                <button type="button" class="darkmode data-tooltip uiverse" [attr.data-tooltip-content]="currentThemeMode()" id="darkmode3">
                    <div class="darkmode-placeholder"></div>
                    <span class="invisible">Turn on Darkmode</span>
                </button>
                <a class="data-tooltip uiverse contact" [routerLink]="'/contact'" [attr.data-tooltip-content]="'Kontakt'">
                    <img class="contact-image" alt="Kontakt" src="/svg/personal.svg" />
                </a>
            </div>
        </div>
    </div>
</nav>
